<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Supplied for trial purposes only</string>
	<string>Registered for use of Birman Cat Club of Canberra</string>
	<string>Registered for use of Carol Cootes</string>
	<string>Registered for use of Cats NSW</string>
	<string>Registered for use of FCCQ</string>
	<string>This copy of Cat-A-Log registered to Carol Cootes</string>
	<string>This copy of Cat-A-Log registered to Carol Cootes</string>
	<string>This copy of Cat-A-Log registered to Cats NSW</string>
	<string>This copy of Cat-A-Log registered to FCCQ</string>
</array>
</plist>
