<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Small cage</string>
		<integer>630</integer>
	</array>
	<array>
		<string>Large cage</string>
		<integer>770</integer>
	</array>
	<array>
		<string>Old small</string>
		<integer>460</integer>
	</array>
	<array>
		<string>Old large</string>
		<integer>700</integer>
	</array>
	<array>
		<string>Other</string>
		<integer>800</integer>
	</array>
	<array>
		<string>Hire cage</string>
		<integer>630</integer>
	</array>
	<array>
		<string>Litter</string>
		<integer>1260</integer>
	</array>
</array>
</plist>
