<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minShowAge</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
	</array>
	<key>maxLitterAge</key>
	<array>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>maxPendingAge</key>
	<array>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>kittenAgeGroups</key>
	<array>
		<integer>5</integer>
		<integer>7</integer>
		<integer>9</integer>
	</array>
</dict>
</plist>
